mixin progress-bar(id)
    .progress.position-relative(id=id+'-progress')
        .progress-bar.progress-bar-striped(id=id+'-progress-bar', role='progressbar')
            .pr-back(id=id+'-progress-bar-back')
                span(id=id+'-progress-bar-back-text') Text
                .pr-box(id=id+'-progress-bar-front')
                    .pr-front(id=id+'-progress-bar-front-text') Text
    script.
        {
            const b = document.getElementById('#{id}-progress-bar-back');
            const t = document.getElementById('#{id}-progress-bar-front-text');
            function resize() {
                t.style.width = b.offsetWidth + 'px';
            }
            resize();
            new ResizeObserver(resize).observe(b);
        }
