include control-element.pug
mixin control-file-button(id, title, label)
    +control-element(id+'-file', title)
        .row.m-0
            input.d-none.form-control(type='file',accept='.csv,.tsv',id=id+'-file')
            button.btn.btn-primary.control-button.col-3.form-control(id=id+'-button')= label
            .col.button-label.text-secondary(id=id+'-label') None selected
    script.
        const button = document.getElementById('#{id}-button');
        const file = document.getElementById('#{id}-file');
        const label = document.getElementById('#{id}-label');
        button.onclick = () => file.click();
        file.onchange = () => {
            label.innerText = file.files[0].name;
        };
